#### A job contains multiple tasks, different tasks executes different computing logics. Tasks form a DAG according to the data dependency. Instance is the smallest scheduling unit of batch workload. All instances within a task execute exactly the same binary with the same resource request, but with different input data.

In [39]:
import numpy as np
import pandas as pd

In [3]:
bt = pd.read_csv("D:/Files/2019 Spring/High P Com/Project/trace_201708/trace_201708/batch_task.csv") 
bi = pd.read_csv("D:/Files/2019 Spring/High P Com/Project/trace_201708/trace_201708/batch_instance.csv")

In [4]:
bt.head()

,create_timestamp,modify_timestamp,job_id,task_id,instance_num,status,plan_cpu,plan_mem
0,6459,6524,3,4,15740,Terminated,50.0,0.007957
1,6457,6533,3,5,1,Terminated,50.0,0.004395
2,6036,6046,4,7,393,Waiting,NaN,NaN
3,6036,6046,4,6,452,Waiting,NaN,NaN
4,10719,11332,15,67,1705,Terminated,50.0,0.005736

In [5]:
bi.head()

,start_timestamp,end_timestamp,job_id,task_id,machineID,status,seq_no,total_seq_no,real_cpu_max,real_cpu_avg,...,120,686,299,Terminated,1,1.1,1.5,0.29,Unnamed: 20,Unnamed: 21
0,41561,41619.0,120.0,686.0,1279.0,Terminated,1.0,1.0,0.89,0.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,41562,41617.0,120.0,686.0,828.0,Terminated,1.0,1.0,0.94,0.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41561,41617.0,120.0,686.0,95.0,Terminated,1.0,1.0,1.00,0.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41557,41610.0,120.0,686.0,545.0,Terminated,1.0,1.0,1.37,0.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,41557,41614.0,120.0,686.0,258.0,Terminated,1.0,1.0,1.18,0.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
bt_job_id = np.sort(bt.job_id)
bt_job_id

array([    1,     2,     2, ..., 12951, 12951, 12951], dtype=int64)

In [20]:
bt_job_id[:20]

array([1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7],
      dtype=int64)

In [23]:
bt_instance_pre_job = {}
bt_instance_pre_job = pd.value_counts(bt_job_id)

In [28]:
max(bt_instance_pre_job)

156

In [30]:
min(bt_instance_pre_job)

1

In [32]:
sum(bt_instance_pre_job) / len(bt_instance_pre_job)

6.219828584665277

In [41]:
bt_instance_pre_job

998      156
997      153
996      153
9565     137
9603     109
9098     102
5033      87
9101      72
10620     71
5467      69
5466      69
906       67
9481      67
9482      67
9602      61
989       60
11992     56
7065      55
12162     55
9736      51
1936      50
1420      49
1421      49
9635      49
9371      48
9607      46
12694     45
508       44
12658     44
12666     44
        ...
10954      1
4270       1
1771       1
9483       1
1231       1
5325       1
7372       1
9419       1
9839       1
7308       1
1103       1
3150       1
9903       1
11338      1
1039       1
3022       1
12458      1
12014      1
9967       1
10031      1
10095      1
11146      1
1963       1
10159      1
9035       1
12270      1
8232       1
12394      1
8360       1
12296      1
Length: 12951, dtype: int64

In [44]:
longest_job_start = min(bt[bt.job_id == 998].create_timestamp)
longest_job_start

3749

In [45]:
longest_job_end = max(bi[bi.job_id == 998].end_timestamp)
longest_job_end

3903.0